@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital@1&family=Source+Sans+Pro:ital@1&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: DM Mono, Source Sans Pro, Geneva, Tahoma, sans-serif;
    background: url("/assets/img/background-image.jpg") center center;
    background-size: cover;
}

.background-image {
    font-family: DM Mono, Source Sans Pro, Geneva, Tahoma, sans-serif;
    background: url("/assets/img/background-image.jpg") center center;
    background-size: cover;
}

h2 {
    font-family: DM Mono, Source Sans Pro, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}

h3 {
    font-family: DM Mono, Source Sans Pro, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}

nav ul li a {
    font-family: DM Mono, Source Sans Pro, Geneva, Tahoma, sans-serif;
}

#logo {
    opacity: 75%;
    margin: 5px;
    padding-top: 5px;
    font-size: 200%;
    float: left;
    letter-spacing: 1px;
}

.active {
    border-bottom: 1px solid #777777;
}

#navigation {
    font-size: 100%;
    text-align: center;
    letter-spacing: 1px;
    list-style-type: none;
}

#navigation li {
    float: right;
    margin: 25px;
    overflow: visible;
}

#navigation a {
    text-decoration: none;
    color: inherit;
}

#main_img {
    height: 600px;
    width: 100%;
    background: url("/assets/img/main_image.jpg") no-repeat center center;
    animation-name: main_img;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#main_img_outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes main_img {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    60% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

#cover-text,
cover-text h2 {
    color: #ffffff;
}

#cover-text {
    font-size: 110%;
    font-family: DM Mono;
    text-align: center;
    text-decoration: #777777;
    letter-spacing: 3px;
    text-transform: uppercase;
    width: 360px;
    height: 180px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(241, 109, 107, .7);
    bottom: 50px;
    left: 50px;
    border-radius: 15px;
    position: absolute;
}

#site-description {
    height: 500px;
    width: 100%;
    padding: 15px;
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 180%;
    margin-bottom: 20px;
}

#left-panel {
    /* padding-top: 30px; */
    width: 30%;
    float: left;
}

#right-panel {
    /* padding-top: 30px; */
    width: 30%;
    float: right;
}

#center-panel {
    /* padding-top: 30px; */
    width: 40%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #777777;
    width: 100%;
    margin: 5px 0;
}

.left-panel-heading {
    width: 100%;
    float: left;
    line-height: 20px;
    clear: both;
    /* margin-bottom: 50px; */
}

.right-panel-heading {
    width: 100%;
    float: right;
    line-height: 20px;
    clear: both;
}

.center-panel-square {
    width: 100%;
    height: 350px;
    float: left;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 10px;
}

#square-cover-bg {
    background: url("/assets/img/homemade_ferrero.png") no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-style: solid;
    border-color: gray;
    border-radius: 15px;
    border-width: 5px;
}

#favorite {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 30px;
    /* width: 50%; */
}

#left-favorite {
    width: 30%;
    float: left;
}

#right-favorite {
    width: 40%;
    float: right;
}

#center-favorite {
    width: 30%;
    margin: 0 auto;
}

#cuisines-title {
  text-align: center;
  font-size: 250%;
  font-weight: 600;
}

.container-fluid {
    padding-bottom: 30px;
    position: relative;
}

.container-fluid .row {
    width: 95%;
    margin-top: -70px;
    padding-left: 230px;
}

.container-fluid .row div {
    padding-bottom: 55px;
    align-items: center;
}

.container-fluid .row h4 {
    font-weight: 400;
    font-size: 200%;
}

.container-fluid .row div ul {
    padding-bottom: 5px;
    font-weight: 200;
}

.container-fluid .row div ul li {
    padding-bottom: 5px;
    font-weight: 400;
}

.container-fluid .row div .btn {
    position: absolute;
    bottom: 25px;
    left: 15px;
}

.newsletter {
    padding: 80px 0;
    background-color: #03fcd3;
}

.newsletter .content {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
}

.newsletter .content h2 {
    color: #243c4f;
    margin-bottom: 40px;
}

.newsletter .content .form-control {
    height: 50px;
    border-color: #ffffff;
    border-radius: 0;
}

.newsletter .content.form-control:focus {
    box-shadow: none;
    border: 2px solid #243c4f;
}

.newsletter .content .btn {
    min-height: 50px;
    border-radius: 0;
    background: #243c4f;
    color: #fff;
    font-weight: 400;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #777777;
}

#photo {
  clear: both;
  line-height: 0;
  column-count: 3;
  column-gap: 0px;
}

#photo img {
    width: 100%;
}

.container-fluid {
  padding-top: 80px;
}

/* form */


#main_img_outer_contact_me {    
    height: 1000px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#main_img_contact_me {
    height: 900px;
    width: 100%;
    background: url("/assets/img/main_image.jpg") no-repeat center center;
}

.form-container {
    padding-top: 110px;
    max-width: 100%;
    margin-bottom: 50px;
    opacity: 90%;
}

.form-container fieldset {
    padding: 0.5em;
    width: 40%;
    background-color: white;
	  border-radius: 8px;
    border: 1px solid gray;
    box-shadow: 0px 0px 25px 3px gray;
    position: absolute;
}

.form {
  padding-left: 250px;
}

.form-legend {
    text-align: center;
    padding: 0 10%;
    margin-bottom: 40px;
    font-size: 1.5em;
    font-weight: bold;
    /* font-family: var(--fontBowlby); */
    background-color: white;
    color: Blue;
    border-radius: 25px;
    border: 1px solid gray;
    box-shadow: 0px 0px 25px 3px gray;
}

.form-fields {
    width: 100%;
}

.form-label {
    margin: 5px 0;
}

.form-label label {
    font-weight: bold;
    /* font-family: var(--fontPoppins); */
}

.form-input input,
.form-input textarea {
    margin-bottom: 15px;
    padding: 10px 0;
    width: 100%;
    border-radius: 5px;
    text-indent: 15px;
    border: 1px solid Blue;
    background-color: rgba(93,153,198,0.1);
}

.form-input input::placeholder,
.form-input textarea::placeholder {
    color: Blue;
}

.form-submit {
    margin: 25px 0;
    padding: 20px;
    width: 80%;
    font-size: 1.25em;
    font-weight: bold;
    border-radius: 3em;
    border: 0;
    color: white;
    text-shadow: Shadow;
    background-color: Blue;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

.form-submit:hover {
    transform: scale(1.1);
    background-color: Purple;
    box-shadow: 0px 7px 7px -2px rgba(0,0,0,0.5);
}

.form-buttons {
    display: grid;
    align-self: center;
    justify-items: center;
}

/*end form */

/* Gallery */

.container-fluid .card-group .card .card-block .card-title {
  padding-left: 10px;
}

.container-fluid .card-group .card .card-block .card-text {
  padding-left: 10px;
}

img {
  vertical-align: middle;
  border-style: none;
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.card:hover {
    filter: grayscale(0%);
    transform: scale(1.025);
    border: 1px solid #03fcd3;
    box-shadow: gray;
}

/* CUISINES */

/* Cuisine Main Image Section */

#chinese-cuisine-main-img {
  height: 500px;
  width: 100%;
  background: url("/assets/img/Chinese-Cuisine-Dishes.jpg") no-repeat center center;
  background-size: cover;
}

#italian-cuisine-main-img {
  height: 500px;
  width: 100%;
  background: url("/assets/img/pizza-side-after.jpg") no-repeat center center;
  background-size: cover;
}

#mexican-cuisine-main-img {
  height: 500px;
  width: 100%;
  background: url("/assets/img/Mexican_Cuisine_Street_Food.jpg") no-repeat center center;
  background-size: cover;
}

#serbian-cuisine-main-img {
  height: 500px;
  width: 100%;
  background: url("/assets/img/Serbian-Cuisine.jpg") no-repeat center center;
  background-size: cover;
}

#thai-cuisine-main-img {
  height: 500px;
  width: 100%;
  background: url("/assets/img/Thai-Cuisine-Wrap.jpg") no-repeat center center;
  background-size: cover;
}

#turkish-cuisine-main-img {
  height: 500px;
  width: 100%;
  background: url("/assets/img/Turkish-Cuisine-Table-2.png") no-repeat center center;
  background-size: cover;
}

#cuisine-main-image-section {
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* Cuisine Description Section */

.cuisine-description-container {
  margin-top: -50px;
}

/* Recipes Section */

.title-cuisine {
    text-align: center;
    margin: 20px 0;
    font-size: 180%;
    margin-bottom: 20px;
}

/* Left and Right panel Cuisine */

.ingredients {
  width: 90%;
}

.method {
  width: 90%;
}

/* .container-fluid .card-columns .card .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.container-fluid .card-columns .card img {
    vertical-align: middle;
    border-style: none;
    width: 100%;
    height: 250px;
    object-fit: cover;
} */

@media screen and (max-width: 1393px) {
    #site-description {
        width: 75%;
        height: 1050px;
        margin: 0 auto;
        padding: 0px;
    }

    #welcome {
        padding-top: 30px;
        text-align: left;
    }

    #left-panel,
    #right-panel {
        width: 100%;
        float: left;
    }

    #left-panel-heading,
    #right-panel-heading {
        margin: 0;
        padding: 0;
    }
    
    #center-panel {
        clear: both;
        width: 100%;
        float: left;
        padding: 0 0 20px 0;
    }

    .container-fluid {
        padding-bottom: 30px;
    }

    .container-fluid .row {
      margin-top: -50px;
      padding-left: 130px;
    }

    .container-fluid .row div {
        padding-top: 25px;
        padding-bottom: 35px;
    }

    .container-fluid .row div .btn {
        position: absolute;
        bottom: 13px;
        left: 13px;
    }

    .container-fluid .card-columns {
        column-count: 2;
    }

    #left-favorite {
      width: 15%;
    }

    #center-favorite {
      width: 15%;
    }

    #right-favorite {
      width: 70%;
      float: right;
    }
    
    .cuisine-description-container {
      margin-top: 30px;
    }

    .container-fluid {
      padding-top: 20px;
    }

    .title-cuisine {
      font-size: 150%;
      margin-top: -20px;
    }

    .recipe-container .container-fluid .row {
      padding-left: 20px;
      margin: 0;
    }
    
    .recipe-container .container-fluid .row div {
      margin-top: -20px;
    }
    
    .recipe-container .container-fluid .row div h2 {
      margin-top: -20px;
      font-size: 130%;
    }
    
    .recipe-container .container-fluid .row div .ingredients h4 {
      font-size: 120%;
    }
    
    .recipe-container .container-fluid .row div .method h4 {
      margin-top: -35px;
      font-size: 120%;
    }
}

@media screen and (max-width: 943px) {
    #site-description {
        width: 85%;
        padding: 0px;
        height: 550px;
    }

    #navigation {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        left: 0px;
    }

    #cover-text-sign-up {
        left: 10px;
    }

    #logo {
        margin-left: 20px;
    }

    #welcome {
        text-align: left;
        font-size: 120%;
        width: 100%;
        margin: 0 auto;
        padding-top: 20px;
    }

    #left-panel,
    #right-panel {
        padding-top: 10px;
        font-size: 100%;
    }
    
    .left-panel-heading {
        width: inherit;
        margin-left: 0;
    }

    .right-panel-heading {
        width: inherit;
        margin-right: 0;
        font-size: 100%;
    }

    .right-panel-heading h3,
    .left-panel-heading h3 {
        width: 100%;
        text-align: left;
        font-size: 100%;
    }

    .right-panel-heading p,
    .left-panel-heading p {
        width: 100%;
        text-align: left;
        padding: 0 10px 0 10px;
    }

    #photo {
        column-count: 3;
    }

    .container {
      padding-top: 80px;
    }

    #left-favorite {
      width: 0%;
    }

    #center-favorite {
      width: 0%;
    }

    #right-favorite {
      width: 100%;
      float: right;
    }
}

@media screen and (max-width: 768px) {
    .container-fluid .card-columns {
        column-count: 2;
    }

    .static-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }

    #cover-text {
        left: 30px;
        width: 260px;
        height: 120px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        position: absolute;
    }

    #cover-text h2 {
        font-size: 100%;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    #cover-text h3 {
        font-size: 100%;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    #cover-text-sign-up,
    cover-text-sign-up h4 {
        color: #ffffff;
        font-size: 80%;
        width: 350px;
        height: 210px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 0px;
    }

    .center-panel-square {
        display: none;
    }

    #favorite h3 {
        font-size: 130%;
    }

    .newsletter .content h2 {
        color: #243c4f;
        margin-bottom: 40px;
        font-size: 120%;
    }

    .newsletter .content .btn {
        min-height: 50px;
        border-radius: 0;
        background: #243c4f;
        color: #fff;
        font-weight: 400;
    }
    
    #cuisines-title {
      padding-right: 30px;
    }

    .container-fluid .row {
      margin-top: -50px;
      padding-left: 70px;
    }

    .container-fluid .row div {
        padding-bottom: 25px;
    }

    .container-fluid .row div .btn {
      bottom: 13px;
      left: 13px;
    }

    .form-container fieldset {
      width: 60%;
    }

    .form {
      padding-left: 150px;
    }

    #left-favorite {
      width: 0%;
    }

    #center-favorite {
      width: 0%;
    }

    #right-favorite {
      width: 100%;
      float: right;
    }

    .recipe-container .container-fluid .row {
      padding: 0;
      margin: 0;
    }
}

@media screen and (max-width: 576px) {
    .navbar-collapse ul li {
      font-size: 80%;
    }

    .dropdown-menu a {
      font-size: 70%;
    }

    .input-group-btn {
        padding-top: 15px;
    }

    .newsletter .content .btn {
        font-weight: 400;
    }
    
    #cuisines-title {
      padding-top:20px;
      padding-right: 50px;
      margin-bottom: -10px;
      font-size: 170%;
    }

    .container-fluid .row {
      margin-top: -50px;
      padding-left: 30px;
    }

    .container-fluid .row div {
        padding-bottom: 25px;
    }

    .container-fluid .row h4 {
        font-weight: 400;
        font-size: 150%;
    }

    .container-fluid .row div .btn {
        left: 13px;
    }

    .container-fluid .card-columns {
        column-count: 1;
    }

    #welcome {
        text-align: center;
    }

    .form {
      padding-left: 3px;
    }

    .form-container fieldset {
      width: 98%;
    }

    #favorite {
      display: none;
    }
}