@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital@1&family=Source+Sans+Pro:ital@1&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: DM Mono, Source Sans Pro, Geneva, Tahoma, sans-serif;
}

h2 {
    font-family: DM Mono, Source Sans Pro, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}

h3 {
    font-family: DM Mono, Source Sans Pro, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}

nav ul li a {
    font-family: DM Mono, Source Sans Pro, Geneva, Tahoma, sans-serif;
    /* color: lightblue; */
}

#logo {
    opacity: 75%;
    margin: 5px;
    padding-top: 5px;
    font-size: 200%;
    float: left;
    letter-spacing: 1px;
}

.active {
    border-bottom: 1px solid #777777;
}

#navigation {
    font-size: 100%;
    text-align: center;
    letter-spacing: 1px;
    list-style-type: none;
}

#navigation li {
    float: right;
    margin: 25px;
    overflow: visible;
}

#navigation a {
    text-decoration: none;
    color: inherit;
}

#main_img {
    height: 600px;
    width: 100%;
    background: url("/assets/img/main_image.jpg") no-repeat center center;
    animation-name: main_img;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#main_img_outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes main_img {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    60% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

#cover-text,
cover-text h2 {
    color: #ffffff;
}

#cover-text {
    font-size: 110%;
    font-family: DM Mono;
    text-align: center;
    text-decoration: #777777;
    letter-spacing: 3px;
    text-transform: uppercase;
    width: 360px;
    height: 180px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(241, 109, 107, .7);
    bottom: 50px;
    left: 50px;
    border-radius: 15px;
    position: absolute;
}

#site-description {
    height: 600px;
    width: 100%;
    padding: 15px;
}

#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 180%;
    margin-bottom: 50px;
}

#left-panel {
    /* padding-top: 30px; */
    width: 30%;
    float: left;
}

#right-panel {
    /* padding-top: 30px; */
    width: 30%;
    float: right;
}

#center-panel {
    /* padding-top: 30px; */
    width: 40%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #777777;
    width: 100%;
    margin: 5px 0;
}

.left-panel-heading {
    width: 100%;
    float: left;
    line-height: 20px;
    clear: both;
    /* margin-bottom: 50px; */
}

.right-panel-heading {
    width: 100%;
    float: right;
    line-height: 20px;
    clear: both;
    /* margin-bottom: 50px; */
}

.center-panel-square {
    width: 90%;
    height: 350px;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 50px;
}

#square-cover-bg {
    background: url("/assets/img/little_cakes.JPG") no-repeat;
    height: 100%;
    width: 100%;
}

#favorite {
    text-align: center;
    padding: 30px;
}

.container-fluid {
    padding-bottom: 30px;
    position: relative;
}

.container-fluid .row {
    width: 95%;
    padding-left: 30px;
}

.container-fluid .row div {
    padding-bottom: 10px;
}

.container-fluid .row div ul {
    padding-bottom: 10px;
}

.container-fluid .row div .btn {
    position: absolute;
    bottom: 0;
    left: 10px;
}

.newsletter {
    padding: 80px 0;
    background-color: #03fcd3;
}

.newsletter .content {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
}

.newsletter .content h2 {
    color: #243c4f;
    margin-bottom: 40px;
}

.newsletter .content .form-control {
    height: 50px;
    border-color: #ffffff;
    border-radius: 0;
}

.newsletter .content.form-control:focus {
    box-shadow: none;
    border: 2px solid #243c4f;
}

.newsletter .content .btn {
    min-height: 50px;
    border-radius: 0;
    background: #243c4f;
    color: #fff;
    font-weight: 400;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #777777;
}

#photo {
  clear: both;
  line-height: 0;
  column-count: 3;
  column-gap: 0px;
}

#photo img {
    width: 100%;
}

.container-fluid {
  padding-top: 80px;
}

/* form */

#form-section-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#form-section {
    clear: left;
    width: 100%;
    background: url("/assets/img/main_image.jpg") no-repeat center center;
    background-size: cover;
    background-position: center;
    height: 600px;
}

#cover-text-sign-up,
cover-text-sign-up h4 {
    color: #ffffff;
    font-size: 80%;
}

#cover-text-sign-up {
    font-size: 80%;
    font-family: DM Mono;
    text-align: left;
    text-decoration: #777777;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 400px;
    height: 210px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(241, 109, 107, .7);
    bottom: 250px;
    left: 500px;
    border-radius: 15px;
    position: absolute;
}

.signup-form {
    margin-top: 150px;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form h4 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background-color: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: solid 1px #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background: #fafafa;
    color: #f16c6b;
}


/*end form */

@media screen and (max-width: 1393px) {
    #site-description {
        width: 75%;
        height: 1050px;
        margin: 0 auto;
        padding: 0px;
    }
    #welcome {
        padding-top: 30px;
        text-align: left;
    }
    #left-panel,
    #right-panel {
        width: 100%;
        float: left;
    }
    #left-panel-heading,
    #right-panel-heading {
        margin: 0;
        padding: 0;
    }
    #center-panel {
        clear: both;
        width: 100%;
        float: left;
        padding: 0 0 20px 0;
    }
    .container-fluid {
        padding-bottom: 30px;
    }
    .container-fluid .row div .btn {
        position: absolute;
        bottom: 0;
        left: 13px;
    }
    .container-fluid .card-columns {
        column-count: 2;
    }

    /* #photo .row .column {
      flex: 100%;
      max-width: 95%;
    } */
}

@media screen and (max-width: 943px) {
    #site-description {
        width: 85%;
        padding: 0px;
        height: 550px;
    }
    #navigation {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }
    #cover-text {
        left: 0px;
    }
    #cover-text-sign-up {
        left: 10px;
    }
    #logo {
        margin-left: 20px;
    }
    #welcome {
        text-align: left;
        font-size: 130%;
        width: 100%;
        margin: 0 auto;
        padding-top: 50px;
    }
    #left-panel,
    #right-panel {
        padding-top: 10px;
        font-size: 100%;
    }
    .left-panel-heading {
        width: inherit;
        margin-left: 0;
    }
    .right-panel-heading {
        width: inherit;
        margin-right: 0;
        font-size: 100%;
    }
    .right-panel-heading h3,
    .left-panel-heading h3 {
        width: 100%;
        text-align: left;
        font-size: 100%;
    }
    .right-panel-heading p,
    .left-panel-heading p {
        width: 100%;
        text-align: left;
        padding: 0 10px 0 10px;
    }
    #photo {
        column-count: 3;
    }
}

@media screen and (max-width: 768px) {
    .container-fluid .card-columns {
        column-count: 2;
    }

   /* #photo .row .column {
    flex: 100%;
    max-width: 95%;
  } */
    .static-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }
    #cover-text {
        left: 30px;
        width: 260px;
        height: 120px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        position: absolute;
    }
    #cover-text h2 {
        font-size: 100%;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    #cover-text h3 {
        font-size: 100%;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    #cover-text-sign-up,
    cover-text-sign-up h4 {
        color: #ffffff;
        font-size: 80%;
        width: 350px;
        height: 210px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 0px;
    }
    .center-panel-square {
        display: none;
    }
    #favorite h3 {
        font-size: 130%;
    }
    .newsletter .content h2 {
        color: #243c4f;
        margin-bottom: 40px;
        font-size: 120%;
    }
    .newsletter .content .btn {
        min-height: 50px;
        border-radius: 0;
        background: #243c4f;
        color: #fff;
        font-weight: 400;
    }
    .container-fluid .row div .btn {
        left: 13px;
    }
}

@media screen and (max-width: 576px) {
    .input-group-btn {
        padding-top: 15px;
    }
    .newsletter .content .btn {
        font-weight: 400;
    }
    .container-fluid .row div {
        padding-bottom: 15px;
    }
    .container-fluid .row div .btn {
        left: 13px;
    }
    .container-fluid .card-columns {
        column-count: 1;
    }

   /* #photo .row .column {
    flex: 100%;
    max-width: 100%;
  }
   #photo .row .column img{
    padding-left: 0px;
  } */

}